/* Styles */

* { padding: 0; margin: 0; }
canvas { background: #eee; display: block; margin: 0 auto; padding: 20px; }

/* explosion effects */
.explosion {
    position: absolute;
    width: 600px;
    height: 600px;
    pointer-events: none;
  }
  .explosion .particle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: pop 1s reverse forwards;
  }
  
  @keyframes pop {
    from {
      opacity: 0;
    }
    to {
      top: 50%;
      left: 50%;
      opacity: 1;
    }
  }
 